body{
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
    outline: none;
}
$bg-color : blue;

.main_header{
    width: 100%;
    color: $bg-color;
}
h2{
    font-size: 50px ;
    &:hover{
        color: red;
    }
    &::after{
        content: " pratik";
    }
}

